EXPENSETRACK_DB_URL=jdbc:mysql://localhost:3306/expensetrack?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
EXPENSETRACK_DB_USERNAME=root
EXPENSETRACK_DB_PASSWORD=your_password
EXPENSETRACK_JPA_DDL_AUTO=update
EXPENSETRACK_JWT_SECRET=change-this-to-a-long-random-secret
EXPENSETRACK_JWT_EXPIRATION=86400000
